NUXT_SESSION_PASSWORD=WfLEJfD7NMdewQ8oQxvoE7qUK86FQ8fc7TvVsdDCZJ6DvpqhfudRHcy4xCPLdwB9
AUTH_ORIGIN=https://localhost:3000
NUXT_AUTH_ORIGIN=https://localhost:3000
DB_FILE_NAME=db/data/local.db
NODE_TLS_REJECT_UNAUTHORIZED=0
SIGN_UP_KEY=7e3717d6-ccc8-444d-a8e7-78e212e842f9
MASTODON_DRY_RUN=true
LOG_LEVEL=2
GTFS_DB_FILE_PATH=db/data/gtfs.db
# AGENCY_ALT_NAMES='{"muni": "SF","bart": "BA"}'
VITE_DEV_PWA=true
# Generate VAPID keys with `npx web-push generate-vapid-keys`
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=