# .env
NUXT_SESSION_PASSWORD=WfLEJfD7NMdewQ8oQxvoE7qUK86FQ8fc7TvVsdDCZJ6DvpqhfudRHcy4xCPLdwB9
DB_FILE_NAME=db/data/local.db
NODE_TLS_REJECT_UNAUTHORIZED=0
SIGN_UP_KEY=7e3717d6-ccc8-444d-a8e7-78e212e842f9
MASTODON_TOKEN=get at mastodon server /settings/applications
MASTODON_URL=public domain name of mastodon server
MASTODON_DRY_RUN=true
X_CONSUMER_KEY=
X_CONSUMER_SECRET=
LOG_LEVEL=2
GTFS_DB_FILE_PATH=db/data/gtfs.db
AGENCY_ALT_NAMES='{"muni": "SF","bart": "BA"}'